<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <application>
        <activity android:name="uts.sdk.modules.kuxCrypto.DemoActivity" android:exported="true">
            <intent-filter>
                <action android:name="uts.sdk.modules.demo"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>